/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Ubuntu Sans Mono", monospace;
  background-color: #2a2a2a;
  color: #ffffff;
}

a {
  color: rgb(52, 90, 42);
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
}

/* Home */

.container {
  margin: 20px;
  padding: 20px;
}

.subforum {
  margin-top: 20px;
}

.subforum-title {
  background-color: #3d3d3d;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}

.subforum-description * {
  margin-block: 0;
}

.subforum-row {
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #3d3d3d;
}

.subforum-icon {
  font-size: 45px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-devider {
  display: none;
}

/* Phone */
@media screen and (max-width: 375px) {
  .container {
    margin: 10px;
    padding: 10px;
  }
  .subforum-row {
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
  }

  .subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #3d3d3d;
  }

  .subforum-stats {
    font-size: 12px;
  }

  .subforum-devider {
    display: block;
    border: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(61, 61, 61, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(61, 61, 61, 1) 100%
    );
  }
}

/* Tablets */
@media screen and (min-width: 375px) and (max-width: 1024px) {
  .container {
    margin: 15px;
    padding: 15px;
  }

  .subforum-row {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }
  .subforum-icon {
    font-size: 35px;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 18px;
  }

  .subforum-stats {
    font-size: 12px;
  }

  .subforum-devider {
    display: block;
    border: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(61, 61, 61, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(61, 61, 61, 1) 100%
    );
  }
}

/* Navbar */

header {
  margin-inline: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navigation {
  background-color: #3d3d3d;
  padding: 10px;
  width: 65%;
  display: inline-block;
  border-radius: 5px;
  max-height: 80px;
  margin-right: 10px;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.nav-item a {
  float: right;
  display: block;
  text-align: center;
  margin-inline: 20px;
  font-size: 20px;
  padding: 10px;
  color: #bebebe;
}

.nav-item a:hover {
  color: rgb(52, 90, 42);
}

.close-icon i {
  font-size: 60px;
  float: left;
  cursor: pointer;
}

.hide {
  display: none;
}

.bar-icon {
  font-size: 60px;
  display: inline-block;
  margin-right: 10px;
  color: rgb(52, 90, 42);
  cursor: pointer;
}

.brand {
  font-size: 60px;
  display: inline-block;
}

/* Navbar phone */
@media screen and (max-width: 460px) {
  .navigation {
    max-height: auto;
  }

  .nav-item a {
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 3px;
    font-size: 10px;
    padding: 5px;
  }

  .close-icon i {
    font-size: 30px;
  }

  .brand {
    font-size: 20px;
  }
}

/* search box */

.search-box {
  border: solid 1px #3d3d3d;
  margin-top: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 3px #3d3d3d;
}

.search-box select {
  padding: 10px;
}

.search-box input {
  padding: 10px;
}

.search-box button {
  padding: 10px;
  background-color: #3d3d3d;
  color: rgb(52, 90, 42);
}

.search-box button:hover {
  background-color: rgb(52, 90, 42);
  color: #3d3d3d;
  box-shadow: 1px 2px 3px #3d3d3d;
}

/* search box phone */

@media screen and (max-width: 460px) {
  .search-box button,
  .search-box select,
  .search-box input {
    min-width: 300px;
    margin-top: 5px;
  }
}

/* Forum info */
.forum-info {
  padding: 20px;
}

.chart {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */

footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #3d3d3d;
  display: block;
  text-align: center;
}

/* ########################################## */
/* posts.html */

.table-head {
  display: flex;
}

.table-head div {
  padding: 5px;
  margin: 2px;
  background-color: #3d3d3d;
  font-weight: bold;
}

.table-head .status {
  flex: 5%;
}

.table-head .subjects {
  flex: 70%;
}

.table-head .replies {
  flex: 10%;
}

.table-head .last-reply {
  flex: 15%;
}

/* table body */
.table-row {
  display: flex;
}

.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-reply {
  padding: 5px;
  margin: 2px;
  background-color: #3d3d3d;
}

.table-row .status {
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects {
  flex: 70%;
}

.table-row .replies {
  flex: 10%;
}

.table-row .last-reply {
  flex: 15%;
}

/* Pagination */

.pagination {
  padding: 20px;
  font-size: 15px;
}

.pagination a {
  color: #bebebe;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 0.5px #bebebe;
}

.pagination a:hover {
  opacity: 0.5;
}

/* Navigation */

.navigate {
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a {
  color: #bebebe;
}

.navigate a:hover {
  color: rgb(52, 90, 42);
  font-weight: bolder;
}

/* note */

.note {
  background-color: #3d3d3d;
  padding: 20px;
  display: block;
}

.note span {
  font-size: 20px;
  margin-block: 5px;
}

/* ###################################### */

/* detail.html */

.head {
  display: flex;
  background-color: #3d3d3d;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.authors {
  flex: 20%;
}

.content {
  flex: 80%;
}

.body {
  display: flex;
  background-color: #3d3d3d;
  padding: 10px;
  margin-top: 5px;
}

.body .authors img {
  max-width: 50px;
  max-height: 80px;
}

.body .authors .username {
  font-size: 20px;
}

.body .content .comment button {
  border: none;
  padding: 10px;
  font-weight: bolder;
  box-shadow: 4px 6px #2a2a2a;
  cursor: pointer;
  float: right;
}

/* comment */

.comment-area {
  margin-top: 50px;
}

.comment-area textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
}

.comment-area input {
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.comment-area input:hover {
  border: solid 1px black;
}

.comments-container {
  margin-top: 50px;
}
